@keyframes fadeInLeftSmall {
  from {
    opacity: 0;
    transform: translate3d(-10px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftSmall {
  animation-name: fadeInLeftSmall;
}
